@model GitHubSearch.GitHubUser

@{
    <div class="row user-section">
        <div class="col-md-12">
            <h3>GitHub User</h3>
        </div>
    </div>
    <div class="row user-section">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <img alt="" width="260" height="260" class="" src="@Model.AvatarUrl">
        </div>
        <div class="col-md-4">
            Username: <b>@Model.Name</b><br />
            Location: <b>@Model.Location</b>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <hr />
    <div class="row user-section">
        <div class="col-md-12">
            <h3>Repos</h3>
        </div>
    </div>
    foreach (var repo in Model.Repos)
    {
        <div class="row user-section">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                Name: <b>@repo.Name</b>
            </div>
            <div class="col-md-4">
                Star Count: <b>@repo.StargazersCount</b>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <div class="row user-section" style="padding-bottom: 10px">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                Url: <a href="@repo.Url" target="_blank">@repo.Url</a>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    }
}